*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(73, 188, 255);
}

.container{
    background-color: rgb(73, 188, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    background-color: beige;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px;
    margin-top: 50px;

}